* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.button-primary {
  background-color: white;
  color: var(--primary-color);
  height: 30px;
  border: 1px solid black;
}

.button-primary:hover {
  cursor: pointer;
  background-color: #202833;
  border: 1px solid #EDEDED;
  color: #EDEDED;
  box-shadow: 0 0 0 1px #202833;
}

.button-second {
  background-color: #4E3AB3;
  height: 30px;
  border: 1px solid black;
}

.button-second:hover {
  cursor: pointer;
  background-color: #202833;
  border: 1px solid #EDEDED;
  color: #EDEDED;
  box-shadow: 0 0 0 1px #202833;
}


.button_active {
  background-color: #D5E8FF;
  border: none;
  -webkit-box-shadow: 1px 2px 11px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 1px 2px 11px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 1px 2px 11px 2px rgba(34, 60, 80, 0.2) inset;
}
