.answers-tile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
    padding-left: 2px;
    padding-right: 5px;

    padding-bottom: 30px;
}

.answers-tile .answer-text {
    font-weight: normal;
}

.answers-tile .answer-title {
    margin-bottom: 5px;
}

.answers-tile .tile_source {
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    padding: 4px 13px;
    width: max-content;
    min-width: 120px;
    background-color: var(--secondary-color);
    color: var(--gallery-color);
}

.answers-tile .tile_source:hover {
    cursor: pointer;
    background-color: var(--secondary-hover-color);
}
