.tile {
    font-size: 14px;
    position: relative;
    height: fit-content;
    padding: 5px 10px;
    margin: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    border: 2px solid black;
    gap: 10px;
}

.button_container {
    display: flex;
    flex-direction: column;
    gap: 7px;

}

.tile button {
    font-size: 13px;
    border-radius: 0;
    padding: 4px 0;
    min-width: 120px;
    color: var(--gallery-color);
    background-color: var(--secondary-color);
}

.tile button:hover {
    background-color: var(--secondary-hover-color);
}

.tile_source {
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    padding: 4px 13px;
    width: max-content;
    min-width: 120px;
    background-color: var(--secondary-color);
    color: var(--gallery-color);
}

.tile_source:hover {
    background-color: var(--secondary-hover-color);
}

.close-btn {
    position: absolute;
    top: 1px;
    left: 3px;
    color: white;
}

.tile:hover .close-btn {
    color: black;
}

.tile:hover .close-btn:hover {
    color: var(--pink-color);
    cursor: pointer;
}